* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #1f2428;
    color: #E1E4E8;
    font-family: sans-serif;   
}

html, body, main {
    height: 100%;
}

main {
    max-width: 600px;
    margin: auto;
    padding: 24px;
    display: flex;
    flex-direction: column;
}

#dofmojis {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
}

.dofmoji {
    height: 64px;
    width: 64px;
    cursor: pointer;
    object-fit: contain;
}

.dofmoji-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}


.dofmoji-name {
    text-align: center;
}

h1 {
    text-align: center;
    padding: 24px;
    font-size: 48px;
}

.d-none {
    display: none;
}

#search {
    background: #1f2428;
    color: #E1E4E8;
    border: 1px solid #E1E4E8 ;
    outline: none;
    padding: 8px 40px;
    width: 100%;
    font-size: 1rem;
}

.search-container {
    position: relative;
    width: 250px;
    margin: 48px auto 32px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.search-icon {
    position: absolute;
    left: 8px;
    top: 22px;
    height: 24px;
    width: 24px;
    object-fit: contain;
}

.disabled {
    pointer-events: none;
    cursor: not-allowed;
}

label {
    font-size: 0.875rem;
}

a {
    color: #79B8FF;
    text-decoration: none;
}

.dofmoji-description {
    font-size: 0.875rem;
    text-align: center;
}

.footer {
    text-align: center;
    padding: 72px 0 24px;
    margin-top: auto;
}

.footer img {
    height: 32px;
    width: 32px;
}